.container{
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;

	@include for-phone-up{
		width: 480px;
	}

	@include for-tablet-up {
		width: 570px;
	}

	@include for-desktop-up {
		width: 1110px;
	}
	@media (min-width: 1170px){
		width: 1140px;
	}
}
