
.menu {
	padding: 40px 0;
	background-color: red;
}
.menu__items {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.menu__item {
}

.menu__link {
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 16px;
	line-height: 1.37em;
	color: getColor('title');
}

